.container {
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  max-width: 480px;
}
@media screen and (min-width: 320px) {
  .footer {
    margin: 0 auto;
    background-image: url(../images/footer-320.jpg);
    padding-top: 60px;
    padding-bottom: 60px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    background-image: url(../images/apple-tab.jpg);
    max-width: 768px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1268px) {
  .footer {
    background-image: url(../images/apple-des.jpg);
    max-width: 1900px;
    background-size: contain;
  }
}

.text {
  text-align: center;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */
  color: #2C2C2C;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .text {
    font-size: 12px;
    line-height: 14px;
  }
}

.contact {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .contact {
    justify-content: space-between;
    margin-bottom: 40px;
  }
}
.contact__item {
  list-style: none;
}
.contact__link {
  font-size: 10px;
  line-height: 12px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #7EB101;
}
@media screen and (min-width: 768px) {
  .contact__link {
    font-size: 12px;
    line-height: 14px;
  }
}
@media screen and (min-width: 768px) {
  .contact {
    gap: 20px;
    flex-grow: 1;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav__item {
  display: block;
}
.nav__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
  }
}

.navigation {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1267px) {
  .navigation {
    justify-content: space-between;
    margin-bottom: 40px;
  }
}

.title {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */
  color: #2C2C2C;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .form {
    display: flex;
    gap: 13px;
    margin-bottom: 12px;
  }
}

.form__input {
  box-sizing: border-box;
  height: 42px;
  width: 100%;
  border: 0.854167px solid #FFE550;
  border-radius: 30px;
  padding: 12px;
  background-color: transparent;
  outline: transparent;
}
.form__input::-moz-placeholder {
  font-size: 12px;
  line-height: 150%;
  color: #505050;
}
.form__input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 150%;
  color: #505050;
}
.form__input::placeholder {
  font-size: 12px;
  line-height: 150%;
  color: #505050;
}
.form__input:not(:-moz-placeholder-shown):valid {
  border-color: #7EB101;
}
.form__input:not(:-ms-input-placeholder):valid {
  border-color: #7EB101;
}
.form__input:not(:placeholder-shown):valid {
  border-color: #7EB101;
}
.form__input:not(:-moz-placeholder-shown):invalid {
  border-color: red;
}
.form__input:not(:-ms-input-placeholder):invalid {
  border-color: red;
}
.form__input:not(:placeholder-shown):invalid {
  border-color: red;
}
@media screen and (min-width: 768px) {
  .form__input {
    width: 279px;
  }
}

.form__button {
  display: block;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 103px;
  height: 42px;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #2C2C2C;
  background: #FFFFFF;
  border: 0.854167px solid #7EB101;
  border-radius: 30px;
}
@media screen and (min-width: 768px) {
  .form__button {
    margin: 0;
  }
}

.tiket {
  font-size: 10px;
  line-height: 12px;
  color: #2C2C2C;
}
@media screen and (min-width: 768px) {
  .tiket {
    font-size: 12px;
    line-height: 14px;
  }
}
@media screen and (max-width: 1267px) {
  .tiket {
    margin-bottom: 60px;
  }
}

.tiket-second {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  /* Dark green */
  color: #7EB101;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 114px;
  }
}
@media screen and (min-width: 1268px) {
  .logo {
    margin-right: 148px;
  }
}

.cont {
  display: flex;
}
@media screen and (max-width: 767px) {
  .cont {
    flex-direction: column;
  }
}

.auto {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1268px) {
  .auto {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1268px) {
  .div {
    margin-left: auto;
  }
}/*# sourceMappingURL=main.css.map */