.section-bg{
    max-width: 1600px;
    background-image:url(../images/banana-mob-1x.png),url(../images/bg-custom/bg-cust-320-1x-min.png);
    background-repeat: no-repeat;
    // background-size:auto, 100%;
    background-position: bottom 375px center,center top;

    @include mobile{
        background-image: url(../images/banana-mob-1x.png),url(../images/bg-custom/bg-cust-480-1x-min.png);
    }

        @include tablet {
            background-image: url(../images/banana-tab-1x.png),url(../images/bg-custom/bg-cust-tab-1x-min.png);
            background-position: right 30px bottom 335px,center top;
        }

                @include desktop {
                    background-image:url(../images/banana-desk-1x.png), url(../images/bg-custom/bg-cust-desk-1x-min.png);
                    background-position: right 50px bottom 35px, center top;                }
}
.customers{
@include desktop{
padding-right: 107px;
}
}

.customers-title{
    font-size: 28px;
    line-height: calc(33/28);

    @include tablet{
        font-size: 42px;
        line-height: calc(49/42);
    }
}

.customers-title-after{
    font-size: 14px;
    line-height: calc(16/14);
    margin-top: 20px;
    margin-bottom: 32px;

    @include tablet{
        font-size: 16px;
        line-height: calc(19/16);
    }
}


.customers-wrap{
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include tablet {
        flex-direction: row;
        gap: 32px;
    }

    @include desktop {
        gap: 140px;
    }
}

.card{
        box-sizing: border-box;
        background: #FEFEFE;
        border-radius: 0px 30px 30px 30px;
        padding: 8px;

        @include tablet {
            width: calc((100% - 32px)/2);
            padding: 12px;
        }

        @include desktop {
            gap: 139px;
            width: calc((100% - 139px)/2);
            padding: 14px;
        }

    }


.rating{
display: flex;
flex-direction: row-reverse;
justify-content: flex-end;
gap: 4px;

&__label{
    // display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    
}

&__input{
display: none;
}

&__input:checked + &__label,
&__input:checked ~ &__input + &__label{
color: #FFE550;
}
}

.card-text{
    font-weight: 700;
    font-size: 16px;
    line-height: calc(19/16);
    margin-top: 28px;
    margin-bottom: 40px;

    @include tablet{
    font-size: 18px;
    line-height: calc(21/18);
    }
}

.card-wrap{
display: flex;
gap: 16px;
}

.wrap-name{
padding-right: 14px;
border-right: 1px solid #7EB101;
}

.card-name{
    display: inline;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
}

.card-job{
    font-size: 14px;
    line-height: 1.5;
}

.card-img{
width: 48px;
height: 48px;
}