.wrap-slider{
    display: none;
    position: relative;
    margin-left: auto;

    @include tablet{
    display: block;
    width: 320px;
    height: 320px;
    // margin-top: 89px;
    }

    @include desktop{
    height: 580px;
    width: 580px;
    // margin-top: 14px;
    }
}

.wrap-picture{
    border-radius: 50%;
    
    @include tablet{
    border: 14px solid #FFE550;
    }

    @include desktop{
    border: 26px solid #FFE550;
    }
}

.slider-img{
        @include tablet{
        width: 292px;
        height: 292px;
        }

        @include desktop{
        width: 528px;
        height: 528px;
        }
}

.swiper-button-prev::before{
    content: "";
    position: absolute;
    left: -22px;
    background-image: url(../images/ep_arrow-up-tab.svg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 34px;
    height: 28px;

    @include desktop{
    left: -26px;
    width: 48px;
    height: 40px;
    background-image: url(../images/ep_arrow-up.svg);
    }
}

.swiper-button-next::before {
    content: "";
    position: absolute;
    right: -15px;
    background-image: url(../images/ep_arrow-down-tab.svg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 34px;
    height: 28px;

    @include desktop {
        right: -18px;
            width: 48px;
            height: 40px;
        background-image: url(../images/ep_arrow-down.svg);        }
}

.swiper-button-prev:after,.swiper-button-next:after{
opacity: 0;
visibility: hidden;
}

.swiper-button-prev,.swiper-button-next{
width: 0;
}

.container-wrap{
    position: relative;
    display: flex;
}

.rembo{
position: absolute;
top:89px;
right: 32px;
@include desktop{
top: 14px;
right: 16px;
}
}

